; Need to login via OAuth
[oauth]
app_key = aaaa
app_secret = bbbb
access_token = cccc
refresh_token = dddd

[parser]
num_threads = 4
save_path = ~/Downloads/reddit/
log_path = ~/Downloads/reddit/logs/